#scrollingDiv {
  position: relative;
  width: calc(100% - 50px);
}

.page {
  position: absolute;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 16px;             /* vertical spacing */
  padding-block: 8px;    /* half gap on top & bottom */
  border-bottom: 1px dashed black;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row img {
  width: 64px;
  height: 64px;
  flex: 0 0 auto;
  image-rendering: crisp-edges;
}

.row img:hover {
  background: #E6E6FA;
  outline: 2px solid #E6E6FA;
}

.rowNumbers {
  position: absolute;
  left: calc(100% + 0.5em);
  top:  calc(100% - 5pt);
  color: gray;
  font-size: 10pt;
}